.box{
	width:1000px;
	margin: 10px auto;
	margin-bottom: 50px;
}
.company_profile{
    width: 95%;
    height: 610px; 
    margin: 0 auto;
}
.company_profile .company_box {
    margin: 10px auto;
}          
.company_profile .company_box .company_list{
    padding: 30px 0;
    overflow: hidden;
    border-bottom: 2px solid #f2f2f2;
}
.company_list img{
    float: left;
    width: 180px;
    height: 130px;
}
.company_list .company_detail {
    margin-left: 220px;
}
.company_list .company_detail h2{
    font: 500 22px/50px "微软雅黑";
    margin-bottom: 20px;
}
.company_list a{
    color:black;
}
.company_detail p {
    font-size: 15px;
    text-indent: 2rem;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}