.box{
	width: 1010px;
	margin: 10px auto;
	margin-bottom: 50px;
}
.poorbg{
    height: 75px;
    margin: 30px 0;
    background: url(../images/poorbg.png) no-repeat;
    background-size: 300px 75px;/* 
    background-color: #ffc; */
    text-indent: 11%;
    font: 400 20px/73px "黑体";
}
.policy{
	font-size: 15px;
    margin: 40px 0;
}
.policy p {
    color: #000;
    padding-left: 2em;
    font-size: 17px;
    margin-top: 10px;
    line-height: 30px;
    text-indent: 2em;
}
.policy p span {
    font-weight: bold;
    font-size: 21px;
}
.poor_list{
    margin-top: 42px;
	overflow: hidden;
}
.poor_list ul {
    width: 100%;
}
.poor_list ul li{
	position: relative;
	float: left;
    margin: 0px 1% 15px;
    width: 22%;
    border: 2px solid #999;
    height: 155px;
    line-height: 155px;
    text-align: center;
}
.poor_list ul li:last-child{
	margin-right: 0;
}
/* .poor_list ul li:first-child{
    margin-left: 0;
} */
.poor_list ul li img{
    width: 90%;
	border-radius:20px;
	/* box-shadow: 5px 5px 5px #999; 
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, 
            from(transparent),color-stop(70%, transparent) ,to(rgba(250, 250, 250, 0.5)));*/
} 
.poor_list ul li span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
}
.poor_list ul li span a{
    display: block;
    width: 100%;
    text-align: center;
    font: 500 21px/155px '微软雅黑';
    color: #95f2ed;
    /* text-shadow: -1px 0 #2196F3, 0 1px #2196F3, 1px 0 #2196F3, 0 -1px #2196F3; */
}
.none{
	display: none;
}
.poor_list ul li:hover span{
	display: block;
	background-color: rgba(0,0,0,.5);
	z-index: 10;
}
/* .wrap{
	position:relative;
} 
.wrap .image img{
	margin-bottom:3px;
	border-radius: 20px;
} 
.down{
   	position: relative;
   	left:-11px;
   	top:-3px;
   	height: 60px;
	overflow: hidden;
} 
.reflection{
    width: 281px;
    height: 100px;
   background: url(../images/sy_lcyx_2.png) bottom center no-repeat;
    border-radius: 20px;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.5;
    filter: alpha(opacity='50');
} 
.overlay{
	position: relative;    
	width: 280px;
    height: 60px;
    bottom: 100px;
    background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 20%, rgba(255,255,255,0) 90%); 
    background-image: -o-linear-gradient(rgba(255,255,255,0) 10%, rgb(255,255,255) 30%); 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.20, rgb(255,255,255)), color-stop(0.90, rgba(255,255,255,0))); 
} 
.reflection img {
    position: 15px;
    position: absolute;
    top: -80px;
    left: 11px;
    border-radius: 20px;
} */